/target
.env
/services/**/db-file
history.txt
prod.env
copy-schemas.sh
start-services.sh
copy-from-server.sh
/services/**/logs
/mosquitto/config/pwfile
/mosquitto/data
/mosquitto/log
/lib/src/integration/grpc/out
